<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>UGAA Books Cloud</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Slider CSS Files -->    
    <link href="./assets/css/slider.css" rel="stylesheet" />

    <!-- Font-Awesome CSS Files -->    
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="#">UGAA Books Cloud</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="index.html" target="_blank">Home</a></li>
            <li class="dropdown">
              <a href="#clients"
                ><span>Subjects</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="/user_Maths">Combined Maths</a></li>
                <li><a href="/user_Bio">Biology</a></li>
                <li><a href="/user_Physics">Physics</a></li>
                <li><a href="/user_Chemistry">Chemistry</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#Borrow">Borrow</a></li>
            <li>
              <a class="getstarted scrollto" href="/Log_out">Log out</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>

    <!-- ======================================================================================================================================== -->      
    
    <!-- ======================================================================================================================================== -->

    <main id="main">

    <div class="demo-cont">
      <!-- slider start -->
      <div class="fnc-slider example-slider">
        <div class="fnc-slider__slides">
          <!-- slide start -->
          <div class="fnc-slide m--blend-green m--active-slide">
            <div class="fnc-slide__inner">
              <div class="fnc-slide__mask">
                <div class="fnc-slide__mask-inner"></div>
              </div>
              <div class="fnc-slide__content">
                <h2 class="fnc-slide__heading">
                  <div class="fnc-slide__heading-line">
                    <span>
                      <a href="/User_Maths">          
                      <img
                        src="/assets/img/clients/Maths.png"
                        class="img-fluid"
                        alt="Beautified Font image of Maths"
                      />
                      </a>
                    </span>
                  </div>
                </h2>
              </div>
            </div>
          </div>
          <!-- slide end -->
          <!-- slide start -->
          <div class="fnc-slide m--blend-dark">
            <div class="fnc-slide__inner">
              <div class="fnc-slide__mask">
                <div class="fnc-slide__mask-inner"></div>
              </div>
              <div class="fnc-slide__content">
                <h2 class="fnc-slide__heading">
                  <div class="fnc-slide__heading-line">
                    <span>
                      <a href="/User_Bio">          
                      <img
                      src="/assets/img/clients/Biology.png"
                      class="img-fluid"
                      alt="Beautified Font image of Biology"
                    />
                  </a></span>
                  </div>
                </h2>
              </div>
            </div>
          </div>
          <!-- slide end -->
          <!-- slide start -->
          <div class="fnc-slide m--blend-red">
            <div class="fnc-slide__inner">
              <div class="fnc-slide__mask">
                <div class="fnc-slide__mask-inner"></div>
              </div>
              <div class="fnc-slide__content">
                <h2 class="fnc-slide__heading">
                  <div class="fnc-slide__heading-line">
                    <span>
                      <a href="/User_Physics">           
                      <img
                      src="/assets/img/clients/Physics.png"
                      class="img-fluid"
                      alt="Beautified Font image of Physics"
                    />
                  </a></span>
                  </div>
                </h2>
              </div>
            </div>
          </div>
          <!-- slide end -->
          <!-- slide start -->
          <div class="fnc-slide m--blend-blue">
            <div class="fnc-slide__inner">
              <div class="fnc-slide__mask">
                <div class="fnc-slide__mask-inner"></div>
              </div>
              <div class="fnc-slide__content">
                <h2 class="fnc-slide__heading">
                  <div class="fnc-slide__heading-line">
                    <span>
                      <a href="/User_Chemistry">
                        <img src="/assets/img/clients/Chemistry.png" class="img-fluid" alt="Beautified Font image of Chemistry" />
                      </a></span>
                      </div>
                      </h2>
                      </div>
                      </div>
                      </div>
                      <!-- slide end -->
                      </div>
                      <nav class="fnc-nav">
                        <div class="fnc-nav__bgs">
                          <div class="fnc-nav__bg m--navbg-green m--active-nav-bg"></div>
                          <div class="fnc-nav__bg m--navbg-dark"></div>
                          <div class="fnc-nav__bg m--navbg-red"></div>
                          <div class="fnc-nav__bg m--navbg-blue"></div>
                        </div>
                        <div class="fnc-nav__controls">
                          <button class="fnc-nav__control">
                            <a style="color: white;" href="#">Maths</a>
                            <span class="fnc-nav__control-progress"></span>
                          </button>
                          <button class="fnc-nav__control">
                            <a style="color: white;" href="#">Biology</a>
                            <span class="fnc-nav__control-progress"></span>
                          </button>
                          <button class="fnc-nav__control">
                            <a style="color: white;" href="#">Physics</a>
                            <span class="fnc-nav__control-progress"></span>
                          </button>
                          <button class="fnc-nav__control">
                            <a style="color: white;" href="#">Chemistry</a>
                            <span class="fnc-nav__control-progress"></span>
                          </button>
                        </div>
                      </nav>
                      </div>
                      <!-- slider end -->
                      </div>
                      
                      <!-- ======= Contact Section ======= -->
                      <section id="Borrow" class="contact">
                        <div class="container" data-aos="fade-up">
                          <div class="section-title">
                            <h2>Contact</h2>
                            <p>
                              If you have any doubts regarding this web application or Deeds of
                              undergraduates-association-akkaraipattu you can use this contact
                              section to contact us through E-mail and WhatsApp.
                      
                            </p>
                          </div>
                      
                          <div class="row">
                            <div class="col-lg-5 d-flex align-items-stretch">
                              <div class="info">
                                <div class="address">
                                  <a href="https://goo.gl/maps/WN5cQtntNiyzuq6s7">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>Location:</h4>
                                    <p>UGAA Books Cloud</p>
                                  </a>
                                </div>
                      
                                <div class="email">
                                  <a href="mailto:ugaabookcloudprimary@gmail.com">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email-1:</h4>
                                    <p>ugaabookcloudprimary@gmail.com</p>
                                  </a>
                                </div>
                                <div class="email">
                                  <a href="mailto:ugaabookcloudsecondary@gmail.com">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email-2:</h4>
                                    <p>ugaabookcloudsecondary@gmail.com</p>
                                  </a>
                                </div>
                                

                <div class="phone">
                  <a href="https://chat.whatsapp.com/LtcKkNcoYYxAEhx1wSPdBU">
                  <i class="bi bi-phone"></i>
                  <h4>W Group</h4>
                  <p>UGAA BOOK CLOUD</p>
                  </a>
                </div>
                      
                              </div>
                            </div>
                      
                            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                              <form action="/FormPosting" method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                      placeholder="Ex: John Doe"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                      placeholder="Ex: demo@gmail.com"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="Membership ID">Membership ID</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    required
                    placeholder="Ex: UBC/23/001"
                  />
                  <div class="form-group">
                    <label for="Membership ID">Reference ID</label>
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      required
                      placeholder="Ex: 001/02/B/03"
                    />                  
                <div class="form-group">
                  <label for="name">Any other requests</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    placeholder="Ex: I would like to borrow the book 'A' and 'B'"
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message">Something Went Wrong</div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->       
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row" style="justify-content: center ; text-align: center;">
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <p>You can also follow us in these social medias below</p>
              <div class="social-links mt-3">
                <a
                  href="https://www.facebook.com/ugaa.org?mibextid=ZbWKwL"
                  target="_blank"
                  class="facebook"
                  ><i class="bx bxl-facebook"></i
                ></a>
                <a
                  href="https://instagram.com/ugaa_akkaraipattu?igshid=YmMyMTA2M2Y="
                  target="_blank"
                  class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a
                  href="https://www.linkedin.com/company/undergraduates-association-akkaraipattu/"
                  target="_blank"
                  class="linkedin"
                  ><i class="bx bxl-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>UGAA</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by
          <a href="https://www.instagram.com/safnas_kaldeen/" target="_blank"
            >Safnas-Kaldeen</a
          >
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="./assets/js/Slider.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>