<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Physics Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />

    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Table CSS Files -->
    <link href="/assets/css/Table.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="/assets/vendor/bootstrap/css/bootstrap.min2.css"
    />

    <title>UGAA Books Cloud</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  </head>

  <body>
    <div class="page-container">
      <div class="container">
        <h1 class="display-4">Physics Database</h1>
        <h5>
          Here showing the list of all the study materials we have for Physics.
        </h5>

        <div class="row mt-5 mb-3 align-items-center">
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search in table..."
              id="searchField"
            />
          </div>
          <div class="col-md-2 text-right">
            <span class="pr-3">Rows Per Page:</span>
          </div>
          <div class="col-md-2">
            <div class="d-flex justify-content-end">
              <select class="custom-select" name="rowsPerPage" id="changeRows">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>
        </div>
        <div class="root" id="root"></div>
      </div>  
    </div>

    

          <!-- ======= Contact Section ======= -->

          <section id="Borrow" class="contact">
<div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
            <p>
              If you have any doubts regarding this web application or Deeds of
              undergraduates-association-akkaraipattu you can use this contact
              section to contact us through E-mail and WhatsApp.

            </p>
          </div>

          <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <a href="https://goo.gl/maps/WN5cQtntNiyzuq6s7">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>UGAA Books Cloud</p>
                  </a>
                </div>

                <div class="email">
                  <a href="mailto:ugaabookcloudprimary@gmail.com">
                  <i class="bi bi-envelope"></i>
                  <h4>Email-1:</h4>
                  <p>ugaabookcloudprimary@gmail.com</p>
                  </a>
                </div>
                <div class="email">
                  <a href="mailto:ugaabookcloudsecondary@gmail.com">
                  <i class="bi bi-envelope"></i>
                  <h4>Email-2:</h4>
                  <p>ugaabookcloudsecondary@gmail.com</p>
                  </a>
                </div>

                <div class="phone">
                  <a href="https://chat.whatsapp.com/LtcKkNcoYYxAEhx1wSPdBU">
                  <i class="bi bi-phone"></i>
                  <h4>W Group</h4>
                  <p>UGAA BOOK CLOUD</p>
                  </a>
                </div>
                <div class="phone">
                  <a href="https://chat.whatsapp.com/LtcKkNcoYYxAEhx1wSPdBU">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+94 75 5354 830</p>
                  </a>
                </div>

              </div>
            </div>
    
                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                  <form
                    action="/FormPosting"
                    method="post"
                    role="form"
                    class="php-email-form"
                  >
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="name"
                          required
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="name">Your Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="email"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="Membership ID">Membership ID</label>
                      <input
                        type="text"
                        class="form-control"
                        name="subject"
                        id="subject"
                        required
                      />
                      <div class="form-group">
                        <label for="Membership ID">Reference ID</label>
                        <input
                          type="text"
                          class="form-control"
                          name="subject"
                          id="subject"
                          required
                        />                  
                    <div class="form-group">
                      <label for="name">Any other requests</label>
                      <textarea
                        class="form-control"
                        name="message"
                        rows="10"
                      ></textarea>
                    </div>
                    <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message">Something Went Wrong</div>
                      <div class="sent-message">
                        Your message has been sent. Thank you!
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit">Send Message</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
          <!-- End Contact Section -->       
        </main>
        <!-- End #main -->
    
        <!-- ======= Footer ======= -->
        <footer id="footer">
          <div class="footer-top">
            <div class="container">
              <div class="row" style="justify-content: center ; text-align: center;">
                <div class="col-lg-3 col-md-6 footer-links">
                  <h4>Our Social Networks</h4>
                  <p>You can also follow us in these social medias below</p>
                  <div class="social-links mt-3">
                    <a
                      href="https://www.facebook.com/ugaa.org?mibextid=ZbWKwL"
                      target="_blank"
                      class="facebook"
                      ><i class="bx bxl-facebook"></i
                    ></a>
                    <a
                      href="https://instagram.com/ugaa_akkaraipattu?igshid=YmMyMTA2M2Y="
                      target="_blank"
                      class="instagram"
                      ><i class="bx bxl-instagram"></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/company/undergraduates-association-akkaraipattu/"
                      target="_blank"
                      class="linkedin"
                      ><i class="bx bxl-linkedin"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="container footer-bottom clearfix">
            <div class="copyright">
              &copy; Copyright <strong><span>UGAA</span></strong
              >. All Rights Reserved
            </div>
            <div class="credits">
              Designed by
              <a href="https://www.instagram.com/safnas_kaldeen/" target="_blank"
                >Safnas-Kaldeen</a
              >
            </div>
          </div>
        </footer>
        <!-- End Footer -->

        <div id="preloader"></div>
        <a
          href="#"
          class="back-to-top d-flex align-items-center justify-content-center"
          ><i class="bi bi-arrow-up-short"></i
        ></a> 
    
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/Physics_dataSet.js"></script>
    <script src="/assets/js/table-sortable.js"></script>
    <script src="/assets/js/pagination.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
